body{
  overflow-x: hidden;
}

#intro {
  background-image: url(images/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: #0a6dee;
  box-shadow: 0 0 5px #000000;
}

#main-nav {
  font-size: larger;
}

.navbar ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #0623ca;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navbar ul li:hover::after{
	width: 80%;
}

.container-lg {
  padding: 90px;
}

@media screen and (max-width: 480px){
  .container-lg{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 1000px){
  #intro{
    height: 100vh;
  }
}

#ProfilePic {
  height: 300px;
  width: 300px;
  border-radius: 500px;
  cursor: pointer;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-ou;
}

#ProfilePic:hover{
  -webkit-transform: scale(1.1) rotate(0) translateY(0);
  -moz-transform: scale(1.1) rotate(0) translateY(0);
  -o-transform: scale(1.1) rotate(0) translateY(0);
  -ms-transform: scale(1.1) rotate(0) translateY(0);
  transform: scale(1.1) rotate(0) translateY(0);
}

#intro-welcome {
  font-family: "Aclonica";
  color: #6a05a5;
  text-shadow: 2px 2px #ffffff;
}

#intro-name {
  font-family: "Aclonica";
  color: #d5ccf5;
  text-shadow: 2px 2px #666060;
}

#intro-about {
  font-family: "Lucida Handwriting","Brush Script MT", cursive;
  font-weight: bold;
  color: #02eeff;
  text-shadow: 2px 2px #030008;
  margin-bottom: 10px;
}

#skills {
  background-image: url(images/skills-bg.jpg);
  padding: 10px;
}

#skills-heading {
  font-family: "Aclonica";
  color: #6a05a5;
  text-shadow: 2px 2px #ffffff;
  text-align: center;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 0px;
}

.skills-intro {
  margin: 2px;
  padding: 10px;
}

.tech-stack,
.tech-stack2 {
  justify-content: space-around;
  padding: 10px;
}
#ts1,
#ts2,
#ts3,
#ts4,
#ts5,
#ts6 {
  padding: 5px;
  margin: 10px;
  text-align: center;
  background: rgba(255, 255, 255, 0.29);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.363);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(4, 215, 255, 0.51);
  
}

.card-img-top{
  padding: 10px;
}

.progress-bar{
  background-color: #00e1fffd;
}

span{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #170775;
}

footer{
  background: rgb(0, 14, 75);
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 10px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 30px;
  font-size: 16px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: rgb(250, 250, 250);
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: rgb(0, 255, 234);
}

.footer-bottom{
  background: rgb(1, 3, 37);
  width: 100vw;
  padding: 10px;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
